/* Background */
body {
    margin: 0 auto;
    background: linear-gradient(262.54deg, #EC7C15 0%, #D0A431 117.27%);
    font-family: 'Open Sans', sans-serif;
    background-size: 100% 100%;
    background-attachment: fixed;
}

/* Header block */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 34px 31px;
    align-items: center;
}

.back-icon {
    background: url(../img/back.svg);
    width: 18px;
    height: 30px;
}

.header-text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    text-decoration: none;
}

/* Main block content */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 41px;
}